<div class="home-callout text-center container-fluid">
    <h1 class="white-text">Welcome to DevMatch</h1>
    <h3 class="white-text">A Membership site where Entrepreneur can meet Developers</h3>
</div>